# OpenStack backup environment file - managed by Ansible
{% for k, v in openstack_auth.items() %}
{{ k }}={{ v }}
{% endfor %}

OS_BACKUP_DIR={{ osbackupper.backup_dir }}
OS_KEEP_DAYS={{ osbackupper.keep_days }}
OS_KEEP_WEEKS={{ osbackupper.keep_weeks }}
OS_KEEP_MONTHS={{ osbackupper.keep_months }}
