{# SPDX-FileCopyrightText: 2024-2026 Jonas I. Liechti <j-i-l@t4d.ch> #}
{# SPDX-License-Identifier: GPL-3.0-or-later #}
d /run/celery 0755 {{ celery_user }} {{ celery_group }} -
d /var/log/celery 0755 {{ celery_user }} {{ celery_group }} -
