---
- name: Install required system packages
  become: yes
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - virtualenv
    state: latest
    update_cache: true

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Update apt and install Docker packages
  become: yes
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose
    state: latest
    update_cache: true

- name: Add user to the docker group
  user:
    name: "{{ dancer_user }}"
    groups: docker
    append: yes

- name: Start and enable Docker service
  service:
    name: docker
    state: started
    enabled: yes

- block:
  - name: Ensure ACL package is installed
    package:
      name: acl
      state: present
    become: yes
  - name: Log into DockerHub
    community.docker.docker_login:
      username: "{{ DOCKER_LOGIN.username }}"
      password: "{{ DOCKER_LOGIN.password }}"
    become: yes
    become_user: "{{ dancer_user }}"
  when: DOCKER_LOGIN is defined
